.calculator {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5% auto;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
}

.display {
    display: flex;
    width: 90%;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.options {
    display: flex;
    justify-content: space-evenly;
}

.options button {
    margin: 5px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}

.clear {
    background-color: rgb(82, 82, 224);
}

.delete {
    background-color: rgb(219, 117, 117);
}

.operations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px 0;
}

button {
    width: 70px;
    height: 40px;
    margin-top: 10px;
}